{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
<div class="d-flex m-5 p-5">
  <h5 > N shop</h5>
    <div>
   <a href="{{path('product')}}"><button type="button" class="  btn btn-primary">Continuer mes achats</button></a>
    </div>
    </div>
{% endblock %}
