{% extends 'base.html.twig' %}

{% block title %}Felicitation {% endblock %}

{% block body %}

<div class="w-auto text-center p-5 m-5" >
 <h1> Votre commande a bine ete passer</h1>
  <a href='{{path("product")}}'><button> Voir plus de produit</button></a>
</div>

{% endblock %}
