{% extends 'base.html.twig' %}

{% block title %}theNshop{% endblock %}

{% block body %}

<div class="m-auto">
    <div class="m-4 text-center">
    <h1> Bienvenue sur le theNshop </h1>
    <p class="fw-light" > Le site de vetements pour tout les personnes avec un nom  ou prenom en N <p>
    </div>
    <diV class="mt-5">
        <img  class="img-fluid" src="{{ asset('assets/theNshop.jpeg')  }}"/>
    </div>
</div>



{% endblock %}

{% block javascripts2   %}




</script>
{% endblock %}
