.modal-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  min-width: 300px;
  border-left: 4mm ridge rgb(170, 50, 220, 0.6);
}
.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}
