{% extends 'base.html.twig' %}

{% block title %}Mon Profile!{% endblock %}

{% block body %}

        <div>
        <h2>Profile {{fullname}}</h2>
    <a href='{{path("show_order")}}' class="btn btn-primary"> mes commandes </a>
        <div>
{% endblock %}


 