<div class="d-flex">
<button type="button" class=" less btn btn-outline-dark">-</button>
<div class="quantity m-3">{{quantity}}</div>
<button type="button" class=" more btn btn-outline-dark">+</button>
</div>